.items-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
}

.empty-list {
    margin-top: 10px;
    font-style: italic;
    color: #999;
    text-align: center;
}

.item {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;

}

.item.completed .item-text {
    text-decoration: line-through;
    color: #999;
    cursor: pointer;
}

.item-text {
    flex: 1;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 8px;
}

.edit-button,
.delete-button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.edit-button {
    background-color: #CFC4C4FF;
    color: #000;
}

.delete-button {
    background-color: #e74c3c;
    color: #fff;
}

.edit-button:hover {
    background-color: #bdbdb4;
}

.delete-button:hover {
    background-color: #c0392b;
}

.edit-form {
    display: flex;
    gap: 6px;
    width: 100%;
}

.edit-input {
    flex: 1;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save-button {
    background-color: #2ecc71;
    border: none;
    padding: 4px 10px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #27ae60;
}