.todo-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.todo-container .todo-input {
    width: 80%;
    padding: 9px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.todo-container .todo-add-button {
    padding: 10px 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
}

.todo-container .todo-add-button:hover {
    opacity: 0.9;
}

.todo-container .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.todo-container .todo-delete-button {
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.todo-container .todo-delete-button:hover {
    background-color: #d9363e;
}

.todo-container.dark {
    background-color: #444444;
    color: #ffffff;
    border: 1px solid #555555;
}

.todo-container.dark .todo-input {
    background-color: #555555;
    color: #ffffff;
    border: 1px solid #777777;
}

.todo-container.dark .todo-add-button {
    background-color: #007bff;
    color: #ffffff;
}

.todo-container.dark .todo-item {
    background-color: #555555;
    color: #ffffff;
    border: 1px solid #666666;
}