.product-modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f2f2f2;
    padding: 20px;
    width: 400px;
    border-radius: 6px;
}

.product-modal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}