.delete-modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

.delete-modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}